:root {
  font-size: 1.5rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  width: 35%;
  min-width: 500px;
  margin-top: 50px;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.current-time {
  font-size: 2.5em;
  text-align: center;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em 0 1.5em 0;

  & input {
    width: 3em;
    font-size: 1.2em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 0.3em;
    padding: 0.4em 0.2em;
  }

  & input:focus {
    outline: none;
  }

  & input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.buttons {
  display: flex;
  gap: 1.2em;
  justify-content: space-evenly;

  & button#set {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 0.6em;
    width: 100%;
    font-size: 0.8em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  & button#set:hover {
    border-color: rgba(255, 255, 255, 0.4);
  }
}

.alarm {
  display: grid;
  grid-template-columns: 9fr 1fr 2fr;
  margin-top: 1.5em;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.6em;

  & input[type="checkbox"] {
    appearance: none;
    height: 1em;
    width: 2em;
    background-color: #797979;
    border-radius: 4px;
    position: relative;
    outline: none;
    cursor: pointer;
  }

  & input[type="checkbox"]:before {
    position: absolute;
    content: "";
    background-color: #202020;
    height: 0.9em;
    width: 0.8em;
    border-radius: 3px;
    top: 0.06em;
    left: 0.06em;
    transition: all 0.3s ease-in-out;
  }

  & input[type="checkbox"]:checked {
    background-color: #2d9b1f;
  }

  & input[type="checkbox"]:checked:before {
    background-color: #202020;
    left: 1.14em;
    transition: all 0.3s ease-in-out;
  }
}

.bx-trash {
  color: rgb(245, 84, 84);
}
